form {
    border: 3px solid greenyellow;
}

/* .btn {
    display: inline-block;
    transition: none;
    background-color: yellowgreen;
    height: 3rem;
    width: 40%;
    border-radius: 10px;
} */
.btn {
    font-weight: bolder;
    background-color: yellowgreen !important; /* Cor normal */
    border-color: yellowgreen !important; /* Cor da borda */
    color: #fff !important; /* Cor do texto */
    height: 3rem;
    width: 40%;
    /*cursor: default !important; /* Evitar o ponteiro de "mão" */
}

#area_dos_botoes {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}