body {
    background-color: #111;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}
/* Navbar */
.navbar {
    border-bottom: 2px solid greenyellow;
    background-color: #111;
    padding: 20px 40px;
    box-shadow: 0 4px 20px rgba(128, 0, 128, 0.2);
}

/* Título responsivo */
.navbar-brand {
    font-weight: 700;
    color: white;
    transition: color 0.3s ease;
    /* Faz o texto ser responsivo */
    font-size: clamp(1.5rem, 4vw, 3rem);
}

.navbar-brand:hover {
    color: greenyellow;
}

/* Itens do menu */
.nav-link {
    color: white;
    font-size: 1.25rem;
    margin-left: 30px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: greenyellow;
}

/* Efeito underline animado */
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: greenyellow;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

/* Botão hamburguer */
.navbar-toggler {
    border: 2px solid greenyellow;
    border-radius: 5px;
    padding: 5px 8px;
    color: white;
}

.material-symbols-outlined {
    color: white;
    font-size: 28px;            
    line-height: 1;
}

footer {
    background-color: rgb(117, 184, 16);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
}